extends layout
block content
 #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
 p
 |   Interiors design as unique as you .
 | <br /><br />
 | Our platform is dedicated to simplifying the process of finding top-tier interior designers in your area. With our curated directory of talented designers and firms, you can browse by location, style, budget, and expertise to discover the best match for your project. From modern minimalism to classic elegance, our diverse community of designers ensures that every taste and vision is catered for.


